<div id="financeiro-box">
    <div class="header-vizualizar">
        <h1>Detalhes financeiros do aluno</h1>
    </div>

    <hr>

    <div class="section-vizualizar">
        <h2>Matrícula</h2>
        <h1>aluno.matricula</h1>
    </div>

    <div class="section-vizualizar">
        <h2>Nome do aluno</h2>
        <h1>aluno.nome_aluno</h1>
    </div>

    <div class="section-vizualizar">
        <h2>Data de pagamento</h2>
        <h1>aluno.data_pagamento</h1>
    </div>

    <div class="section-vizualizar">
        <h2>Valor da mensalidade</h2>
        <h1>aluno.valor_mensalidade</h1>
    </div>
    <div class="section-vizualizar">
        <h2>situação:</h2>
        <h1>aluno.valor_mensalidade</h1>
    </div>
</div>