.box-pesquisa{  
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(71, 71, 71, 0.753);
    border-radius: 150px;
    background-color: white;
}

#matricula{
    flex: 1;
    border-radius: 150px 0 0 150px;
    padding: 15px;
    border: 0;
    outline: none;
    font-size: 16px;
}

select{
    border: 0;
    outline: none;
    font-size: 16px;
    padding: 0 10px;
    margin-right: 15px;
    border-left: 1px solid #1d1d1d;
    background-color: white;
    color: #1d1d1d;
}

#serie, #turno{
    width: 20%;
}

#serie, #turno, #matricula{
    height: 100%;
}

#pesquisa-button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #FFF647;
    border: 0;
    cursor: pointer;
    transition: all 400ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pesquisa-button:hover{
    filter: brightness(0.9);
    box-shadow: 2px 2px 5px rgba(48, 48, 48, 0.404);
    
}