/* You can add global styles to this file, and also import other style files */
*{margin: 0; padding: 0; box-sizing: border-box;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;}
html, body { height: 100vh;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.financeiro-box{
    margin: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 3px rgba(82, 82, 82, 0.514);
    padding: 40px 30px;
}


.side-side{
    display: flex;
    justify-content: space-between;
}

.w-50{
    width: 49%;
}

.modal {
    display: none;
}
.modal.open {
    display: flex;
    background-color: rgba(73, 73, 73, 0.164);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999999;
    align-items: center;
    justify-content: center;
}

.principal{
    background-color: white;
    box-shadow: 2px 2px 5px rgba(95, 95, 95, 0.3) ;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}

#searchProfessor{
    width: 95%;
    height: 50px;
    border-radius: 10px 0 0 10px;
    border: 0;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgrey;
    font-size: 16px;
    background-color: white;
}


#buttonSearchProfessor{
    width: 5%;
    border: 0;
    background-color: #FFF647;
    border: 0;
    cursor: pointer;
    transition: all 400ms;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 10px 10px 0;
}
