/* You can add global styles to this file, and also import other style files */
*{margin: 0; padding: 0; box-sizing: border-box;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;}
html, body { height: 100vh;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
